/* Palette */
/* #e0cc9b => Letters tile background */
/* #b1a078 => Letters tile shadowed side background */
/* #cdc6aa => Game board background color */
/* #f7f0df => Game board lines color */

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'News Cycle', Helvetica, Arial, Verdana, Sans;
	color: #342f29;
	height: 100%;
	background: #f7f0df;
}

* {
	margin: 0;
	padding: 0;
}

.screen {
	position: relative;
	height: 100%;
	display: none;
}

.screen.current {
	display: block;
}

.screen-centerize-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-top: 1px;
}

.screen-title {
	text-align: center;
    margin: auto;
    font-size: 60px;
    position: absolute;
    width: 100%;
    top: 50px;
}

.return-to-title-link {
	position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    height: 40px;
    width: 40px;
    line-height: 29px;
    text-align: center;

    transition: color 0.2s;
}

.return-to-title-link:focus,
.return-to-title-link:hover {
	color: #3e9eb5;
}

.screen-menu-button {
	display: block;
	border: 0;
	margin: 50px auto;
    width: 300px;
    text-align: center;
    color: #342f29;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    background: #e0cc9b;
    line-height: 70px;;
    box-shadow: 0px 6px 0px 0px #b1a078, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 74, 55, 0.52);
    border-radius: 5px;
    border-top: 1px solid #fbf4e2;
    transform: translateY(0px);
	cursor: pointer;
    transition: filter 0.2s, box-shadow 0.2s, transform 0.2s;
}

.screen-menu-button:focus,
.screen-menu-button:hover {
	filter: brightness(1.1);
	transform: translateY(0px);
}

.screen-menu-button:active {
	box-shadow: 0px 2px 0px 0px #b1a078, 0px 3px 2px 1px rgba(0, 0, 0, 0.3), 0px 3px 0px 0px rgba(82, 74, 55, 0.52);
	transform: translateY(4px);
}

.player-saved-game-wrapper {
	text-align: center;
}

.player-saved-game-wrapper a {
	display: inline-block;
}

.player-saved-game-wrapper a[data-loader] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.player-saved-game-wrapper a[data-deleter] {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    padding: 0 20px;
    background: #e09c9b;
    box-shadow: 0px 6px 0px 0px #b17878, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 55, 55, 0.52);
    color: #462929;
}

.player-saved-game-wrapper a[data-deleter]:active {
	box-shadow: 0px 2px 0px 0px #b17878, 0px 3px 2px 1px rgba(0, 0, 0, 0.3), 0px 3px 0px 0px rgba(82, 55, 55, 0.52);
}

.screen-indications {
	text-align: center;
}

.menu-input-wrapper {
	overflow: hidden;
    width: 50%;
    margin: 20px auto;
}

.menu-input-wrapper .floater {
	float: left;
	width: 50%;
}

.menu-input-wrapper label {
	display: block;
	text-align: center;
}

.menu-input-wrapper input[type="text"] {
	display: block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: auto;
}

#board {
	position: relative;
	min-width: 950px;
    box-sizing: border-box;
	top: 50px;
	left: 50px;
	display: inline-block;
	padding: 50px;
	background: #cdc6aa;
	border: 10px solid #33554f;
}

#board .inner-wrapper {
	border-top: 4px solid #f7f0df;
	border-left: 4px solid #f7f0df;
	border-bottom: 1px solid #f7f0df;
	border-right: 1px solid #f7f0df;
	display: inline-block;
	box-shadow: 0px 0px 0px 2px #342f29,
				0px 0px 0px 10px #f7f0df;
}

#board .inner-wrapper .cell {
	width: 52px;
    height: 52px;
	border-bottom: 3px solid #f7f0df;
	border-right: 3px solid #f7f0df;
	float: left;
	background: #cdc6aa;
	position: relative;
}

#board .inner-wrapper .cell .special {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    box-sizing: border-box;
    z-index: 1;
}

#board .inner-wrapper .cell .highlighter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 2;
    box-sizing: border-box;
}

#board .inner-wrapper .cell.highlight .highlighter { /* Show valid tiles when not hovering it */
	background: rgba(237, 233, 214, 0.5);
}

#board .inner-wrapper .cell.droppable-over .highlighter,
#board .inner-wrapper .cell.droppable-over.highlight .highlighter { /* Dragging a tile over a valid cell */
	background: rgba(216, 237, 214, 0.5);
    border: 3px solid rgba(80, 204, 79, 0.4);
}

#board .inner-wrapper .cell.invalid-move .highlighter { /* Dragging a tile over an invalid cell */
	background: rgba(224, 101, 101, 0.2);
    border: 3px solid rgba(224, 101, 101, 0.5);
}


#board .inner-wrapper .cell .special.special-3w {
	background: #fa6850;
}

#board .inner-wrapper .cell .special.special-2w {
	background: #fbb9a7;
}

#board .inner-wrapper .cell .special.special-3l {
	background: #3e9eb5;
}

#board .inner-wrapper .cell .special.special-2l {
	background: #bcd6d2;
}

#board .inner-wrapper .cell .special.special-start {
	background: #fbb9a7;
}

.letter-tile {
	position: relative;
    text-transform: uppercase;
    width: 48px;
    height: 48px;
    margin: 3px;
    display: inline-block;
    background: #e0cc9b;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 21px;
    text-indent: -2px;
    box-shadow: 0px 6px 0px 0px #b1a078, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 74, 55, 0.52);
    border-radius: 5px;
    border-top: 1px solid #fbf4e2;
    margin-bottom: 7px;
    margin-top: -3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.letter-tile[data-dragging="1"] {
	z-index: 5;
}

.letter-tile.current-turn-letter-tile {
	filter: saturate(1.4) brightness(1.1);
    opacity: 0.9;
}

.letter-tile.is-blank {
	color: rgba(0,0,0,0.0);
}

.letter-tile.invalid-move {
	background: #e0b69b;
	box-shadow: 0px 6px 0px 0px #b17e78, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 61, 55, 0.52);
	opacity: 0.8;
}

.letter-tile sub {
	position: absolute;
    font-size: 11px;
    line-height: 14px;
    bottom: 6px;
    right: 7px;
}

#board .inner-wrapper .cell .letter-tile {
	margin: auto;
	top: -7px;
	display: block;
	z-index: 2;
}

#info-pane {
	position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    background: #f7f0df;
    border-left: 4px solid #cdc6aa;
    z-index: 2;
}

#info-pane .info-block {
	padding: 20px;
	border-bottom: 4px solid #cdc6aa;
}

#info-pane .info-block h3 {
	text-transform: uppercase;
	line-height: 30px;
}

#info-pane .info-block h3 span {
	font-size: 14px;
	font-weight: 400;
	float: right;
	text-transform: none;
}

#info-pane .info-block#info-block-current-turn {
	text-align: center;
}

#info-pane .info-block#info-block-current-turn #info-block-current-player {
	font-size: 40px;
	font-weight: 600;
}

#info-pane .info-block#info-block-current-turn #info-block-current-player small {
	display: block;
    font-size: 16px;
    font-style: italic;
    color: #b1a078;
    position: relative;
    top: -10px;
}

#info-pane .info-block#info-block-players dl {
	overflow: hidden;
}

#info-pane .info-block#info-block-players dt {
	float: left;
	display: block;
	width: 50%;
}

#info-pane .info-block#info-block-players .info-player-name.current {
	font-weight: bold;
}

#info-pane .info-block#info-block-players dd {
	float: left;
	display: block;
	width: 50%;
}

#info-pane .info-block .info-player-letters-holder #info-player-letters-value {
	min-height: 56px;
}

#info-pane .info-block#info-block-actions a {
	position: relative;
    text-transform: uppercase;
    width: auto;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    color: #243532;
    margin: 3px;
    display: inline-block;
    background: #96c1ba;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-indent: -2px;
    box-shadow: 0px 6px 0px 0px #55827a, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(55, 82, 82, 0.52);
    border-radius: 5px;
    padding: 0 14px;
    border-top: 1px solid #fbf4e2;
    margin-bottom: 7px;
    margin-top: -3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#info-pane .info-block#info-block-actions a:hover,
#info-pane .info-block#info-block-actions a:focus {
	background: #a2d0c8;
}

#info-pane .info-block#info-block-actions a:active {
	box-shadow: 0px 2px 0px 0px #55827a, 0px 3px 2px 1px rgba(0, 0, 0, 0.3), 0px 3px 0px 0px rgba(55, 82, 82, 0.52);
	transform: translateY(3px);
}

#info-pane .info-block#info-block-actions a.disabled {
	background: #c1c1c1 !important;
	box-shadow: 0px 6px 0px 0px #797979, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(78, 78, 78, 0.52) !important;
	color: #333333 !important;
	transform: translateY(0) !important;
}

#info-pane .info-block#info-block-log {
	padding: 0;
}

#info-pane .info-block#info-block-log #log-list {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 17px;
	box-sizing: border-box;
	table-layout: fixed;
}

#info-pane .info-block#info-block-log #log-list tr:first-child th {
  border-top: 0;
}
#info-pane .info-block#info-block-log #log-list tr:last-child td {
  border-bottom: 0;
}
#info-pane .info-block#info-block-log #log-list tr td:first-child,
#info-pane .info-block#info-block-log #log-list tr th:first-child {
  border-left: 0;
}
#info-pane .info-block#info-block-log #log-list tr td:last-child,
#info-pane .info-block#info-block-log #log-list tr th:last-child {
  border-right: 0;
}

#info-pane .info-block#info-block-log #log-list th,
#info-pane .info-block#info-block-log #log-list td {
	border: 1px solid #cdc6aa;
	padding: 4px 6px;
}

#info-pane .info-block#info-block-log #log-list td div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#info-pane .info-block#info-block-log #log-list .log-turn {
	text-align: center;
	font-weight: 600;
}

#info-pane .info-block#info-block-log #log-list .log-words {
	line-height: 17px;
}

#info-pane .info-block#info-block-log #log-list .log-words .word {
	display: inline-block;
    margin-right: 6px;
    background: #dcd5c5;
}

#info-pane .info-block#info-block-log #log-list .log-words .word[data-modifier-multiplicator="3"] {
	background: #fa6850;
	font-weight: bold;
}

#info-pane .info-block#info-block-log #log-list .log-words .word[data-modifier-multiplicator="2"]{
	background: #fbb9a7;
	font-weight: bold;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter {
	padding: 0 1px;
    padding-bottom: 4px;
    display: inline-block;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter:first-child {
	margin-left: 3px;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter:last-child {
	margin-right: 3px;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter[data-modifier-multiplicator] {
	font-weight: bold;
    padding-left: 3px;
    padding-right: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter[data-modifier-multiplicator="3"] {
	background: #3e9eb5;
}

#info-pane .info-block#info-block-log #log-list .log-words .word .letter[data-modifier-multiplicator="2"] {
	background: #bcd6d2;
}