html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'News Cycle', Helvetica, Arial, Verdana, Sans;
	color: #342f29;
}

* {
	margin: 0;
	padding: 0;
}

#app {
	position: relative;
}

.letter-tile {
	position: relative;
    text-transform: uppercase;
    width: 45px;
    height: 49px;
    margin: 3px;
    display: inline-block;
    background: #e0cc9b;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 21px;
    text-indent: -2px;
    box-shadow: 0px 6px 0px 0px #b1a078, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 74, 55, 0.52);
    border-radius: 5px;
    border-top: 1px solid #fbf4e2;
    margin-bottom: 7px;
    margin-top: -3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.letter-tile.current-turn-letter-tile {
	filter: saturate(1.4) brightness(1.1);
    opacity: 0.9;
}

.letter-tile.is-blank {
	color: rgba(0,0,0,0.0);
}

.letter-tile.invalid-move {
	background: #e0b69b;
	box-shadow: 0px 6px 0px 0px #b17e78, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 61, 55, 0.52);
	opacity: 0.8;
}

.letter-tile sub {
	position: absolute;
    font-size: 11px;
    line-height: 14px;
    bottom: 6px;
    right: 7px;
}

#board {
	position: relative;
	top: 50px;
	left: 50px;
	display: inline-block;
	padding: 50px;
	background: #cdc6aa;
	border: 10px solid #33554f;
}

#board .inner-wrapper {
	border-top: 4px solid #f7f0df;
	border-left: 4px solid #f7f0df;
	border-bottom: 1px solid #f7f0df;
	border-right: 1px solid #f7f0df;
	display: inline-block;
	box-shadow: 0px 0px 0px 2px #342f29,
				0px 0px 0px 10px #f7f0df;
}

#board .inner-wrapper .cell {
	width: 51px;
    height: 52px;
	border-bottom: 3px solid #f7f0df;
	border-right: 3px solid #f7f0df;
	float: left;
	background: #cdc6aa;
	position: relative;
}

#board .inner-wrapper .cell.highlight,
#board .inner-wrapper .cell.droppable-over {
	background: #e0dbc5;
}

#board .inner-wrapper .cell.droppable-over.highlight {
	background: #ede9d6;
}

#board .inner-wrapper .cell.invalid-move {
	background: #dcc2b9;
}

#board .inner-wrapper .cell .letter-tile {
	margin: auto;
	top: -7px;
	display: block;
}

#info-pane {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 400px;
	background: #f7f0df;
	border-left: 4px solid #cdc6aa;
}

#info-pane .info-block {
	padding: 20px;
	border-bottom: 4px solid #cdc6aa;
}

#info-pane .info-block h3 {
	text-transform: uppercase;
	line-height: 30px;
}

#info-pane .info-block h3 span {
	font-size: 14px;
	font-weight: 400;
	float: right;
	text-transform: none;
}

#info-pane .info-block#info-block-current-turn {
	text-align: center;
}

#info-pane .info-block#info-block-current-turn #info-block-current-player {
	font-size: 40px;
	font-weight: 600;
}

#info-pane .info-block#info-block-players dl {
	overflow: hidden;
}

#info-pane .info-block#info-block-players dt {
	float: left;
	display: block;
	width: 50%;
}

#info-pane .info-block#info-block-players dd {
	float: left;
	display: block;
	width: 50%;
}

#info-pane .info-block .info-player-letters-holder #info-player-letters-value {
	min-height: 56px;
}

#info-pane .info-block#info-block-actions a {
	position: relative;
    text-transform: uppercase;
    width: auto;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    color: #243532;
    margin: 3px;
    display: inline-block;
    background: #96c1ba;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-indent: -2px;
    box-shadow: 0px 6px 0px 0px #55827a, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(55, 82, 82, 0.52);
    border-radius: 5px;
    padding: 0 14px;
    border-top: 1px solid #fbf4e2;
    margin-bottom: 7px;
    margin-top: -3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#info-pane .info-block#info-block-actions a:hover,
#info-pane .info-block#info-block-actions a:focus {
	background: #a2d0c8;
}

#info-pane .info-block#info-block-actions a:active {
	box-shadow: 0px 2px 0px 0px #55827a, 0px 3px 2px 1px rgba(0, 0, 0, 0.3), 0px 3px 0px 0px rgba(55, 82, 82, 0.52);
	transform: translateY(3px);
}

#info-pane .info-block#info-block-actions a.disabled {
	background: #c1c1c1 !important;
	box-shadow: 0px 6px 0px 0px #797979, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(78, 78, 78, 0.52) !important;
	color: #333333 !important;
	transform: translateY(0) !important;
}

#info-pane .info-block#info-block-log {
	padding: 0;
}

#info-pane .info-block#info-block-log #log-list {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	box-sizing: border-box;
	table-layout: fixed;
}

#info-pane .info-block#info-block-log #log-list tr:first-child th {
  border-top: 0;
}
#info-pane .info-block#info-block-log #log-list tr:last-child td {
  border-bottom: 0;
}
#info-pane .info-block#info-block-log #log-list tr td:first-child,
#info-pane .info-block#info-block-log #log-list tr th:first-child {
  border-left: 0;
}
#info-pane .info-block#info-block-log #log-list tr td:last-child,
#info-pane .info-block#info-block-log #log-list tr th:last-child {
  border-right: 0;
}

#info-pane .info-block#info-block-log #log-list th,
#info-pane .info-block#info-block-log #log-list td {
	border: 1px solid #cdc6aa;
	padding: 2px 6px;
}

#info-pane .info-block#info-block-log #log-list td div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#info-pane .info-block#info-block-log #log-list .log-turn {
	text-align: center;
	font-weight: 600;
}
