html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'News Cycle', Helvetica, Arial, Verdana, Sans;
	color: #342f29;
}

* {
	margin: 0;
	padding: 0;
}

#app {
	position: relative;
}

.letter-tile {
	position: relative;
    text-transform: uppercase;
    width: 45px;
    height: 49px;
    margin: 3px;
    float: left;
    display: block;
    background: #e0cc9b;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 21px;
    text-indent: -2px;
    box-shadow: 0px 6px 0px 0px #b1a078, 0px 7px 2px 1px rgba(0, 0, 0, 0.3), 0px 7px 0px 0px rgba(82, 74, 55, 0.92);
    border-radius: 5px;
    border-top: 1px solid #fbf4e2;
}

.letter-tile sub {
	position: absolute;
    font-size: 11px;
    line-height: 14px;
    bottom: 6px;
    right: 7px;
}

#board {
	position: relative;
	top: 50px;
	left: 50px;
	display: inline-block;
	padding: 50px;
	background: #cdc6aa;
	border: 10px solid #33554f;
}

#board .inner-wrapper {
	border-top: 4px solid #f7f0df;
	border-left: 4px solid #f7f0df;
	border-bottom: 1px solid #f7f0df;
	border-right: 1px solid #f7f0df;
	display: inline-block;
	box-shadow: 0px 0px 0px 2px #342f29,
				0px 0px 0px 10px #f7f0df;
}

#board .inner-wrapper .cell {
	width: 51px;
    height: 52px;
	border-bottom: 3px solid #f7f0df;
	border-right: 3px solid #f7f0df;
	float: left;
	background: #cdc6aa;
}

#board .inner-wrapper .cell .letter-tile {
	float: none;
	margin: auto;
	top: -7px;
}

#info-pane {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 400px;
	background: #f7f0df;
	border-left: 4px solid #cdc6aa;
}

#info-pane .info-block {
	padding: 20px;
	border-bottom: 4px solid #cdc6aa;
}

#info-pane .info-block h3 {
	text-transform: uppercase;
}

#info-pane .info-block .info-player-letters-holder {
	padding-bottom: 11px;
	overflow: hidden;
}